* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;

  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 70px;
}
/** Go top **/
.go-top {
  position: fixed;
  bottom: 100px;
  right: -100%;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(255, 80, 80);
  border-radius: 15px;
  background: rgb(85, 85, 85, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
}
.go-top:hover {
  /*border: 2px solid #fff;*/
  border-radius: 15px;
  background: rgb(255, 80, 80, 0.5);
}
.go-top:hover span {
  color: rgb(0, 0, 0);
}
.go-top > span {
  font-size: 25px;
  color: rgb(255, 85, 85);
}
/** Skew abajo - corte de las secciones  
.skew-abajo {
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 10vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  overflow: hidden;
}
.skew-arriba {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-width: 10vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
  overflow: hidden;
}**/
/*--- Estilo animacion Scroll ---*/
.animacion {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarArriba {
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}

.animacionIzquierda {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarIzquierda {
  animation: mostrarIzquierda 1s;
}
@keyframes mostrarIzquierda {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0);
  }
}
/*---- Menu de navegacion -----*/

/*Estilo del header*/
.container {
  width: 100%;
  overflow: hidden;
}
.header {
  position: relative;
  width: 100%;
}
/*estilo del menu*/

.menu-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(83, 83, 83, 0.9);
  padding: 25px;
  z-index: 9999;
}
.tittle-web a {
  width: 50%;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 4px;
  color: rgb(255, 136, 136);
  font-size: 25px;
}

.logo-box {
  width: 40%;
  padding: 10px;
  max-width: 400px;
  font-family: "Raleway", sans-serif;
}

.menu .list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.menu .list li {
  margin: auto;
  list-style: none;
}
.menu .list li a {
  text-decoration: none;
  margin: 0 auto;
  padding: 12px;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  font-size: 16px;
  transition: 0.3s;
}

.menu .list li a.active {
  color: rgb(255, 136, 136);
}
.menu .list li a:hover {
  color: rgb(255, 136, 136);
}

#btn-menu > .fa-bars {
  display: none;
}

/*---- fin del menu de navegacion ----*/

/** IMG Header **/

.header-img {
  height: 100vh;
  width: 100%;
  background: url("Img-proyectos/banner-jpg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  overflow: hidden;
}

.header-img .welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.header-img .welcome h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  text-align: center;
  overflow: hidden;
}

.header-img .welcome hr {
  width: 400px;
  height: 2px;
  background: #fff;
  border: none;
  margin-top: 5px;
  overflow: hidden;
}
.header-img .welcome p {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  overflow: hidden;
}

.header-img .welcome > button {
  position: relative;
  top: 150px;
  left: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


.header-img .welcome > button i {
  font-size: 45px;
  color: rgb(252, 136, 136);
  transition: all 0.5s;
}
.header-img .welcome > button i:hover {
  color: #000000;
  background-color: rgba(252, 136, 136, 0.5);
  border-radius: 50%;
  padding: 10px;
}

/** Fin del IMG Header **/

/*--- Acerca de nosotros---*/

.acerca-de {
  width: 100%;
}

.acerca-de .info-containar {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.icon-title {
  font-size: 45px;
}
.acerca-de .info-containar h1 {
  font-size: 50px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.acerca-de .info-containar p {
  text-align: center;
  font-size: 25px;
  color: #000;
  line-height: 35px;
  margin: 10px 0;
}

.acerca-de .info-containar .info-estudios {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.acerca-de .info-containar .info-estudios hr {
  width: 80%;
  margin: 10px auto;
  height: 2px;
  color: rgba(88, 88, 88, 0.3);
}

.acerca-de .info-containar .info-estudios .tecnologias {
  width:800px;
  height: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
  margin:10px;
}
.container-skills ul{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  gap: 20px;
  padding: 10px;
}
.container-skills li{
  list-style: none;
}
.acerca-de .info-containar .info-estudios .tecnologias .img-skills {
  width: 100px;
  height: 100px;
  
 
}
.acerca-de .info-containar .info-estudios .tecnologias p {
  font-size: 18px;
  font-weight: 300;
}

.acerca-de .info-containar .info-estudios .tecnologias .title {
  font-size: 25px;
  margin: auto;
  text-align: center;
}
.acerca-de .info-containar .info-estudios .tecnologias-icon {
  font-size: 24px;
  padding: 5px;
}

.acerca-de .info-containar .info-estudios .estudios {
  width: 800px;
  height: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
}
.acerca-de .info-containar .info-estudios .estudios .title {
  font-size: 25px;
  text-align: center;
}

.acerca-de .info-containar .info-estudios .estudios p {
  font-size: 18px;
}
.acerca-de .info-containar .info-estudios .estudios a {
  text-decoration: none;
  color: #000;
  transition:all 1s;
  font-size: 22px;
  font-weight: bold;

}
.acerca-de .info-containar .info-estudios .estudios a:hover {
  text-decoration: none;
  color: #ff0000;

}
/*--- Fin del  Acerca de nosotros ----*/

/**----- Mis Proyectos -----**/
.proyects {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("Img-proyectos/alexandru-acea--WBYxmW4yuw-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}
.proyects .dreg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.proyects .ejezproyects {
  position: relative;
  width: 100%;
  height: 100%;
}

.proyects .containar-proyects {
  width: 100%;
  height: 800px;
  margin: auto;
  padding:30px;
}
.proyects .containar-proyects .proyects-title {
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.proyects .containar-proyects .proyects-title h2 {
  font-size: 40px;
  font-weight: normal;
  color: #fff;
}

.proyects .containar-proyects .proyects-title hr {
  background: #fff;
  width: 50%;
  margin: 10px auto;
}
.slider-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-top: 100px;
}
.container-slider{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.proyects .containar-proyects .slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400%;
  height: 500px;
  margin-left: -100%;
}


.proyects .containar-proyects .slider_img {
  width: 600px;
  height: 350px;
  margin: 0 20px;
  object-fit: cover;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 4px 5px 0 rgba(255, 255, 255, 0.5);
}
.proyects .containar-proyects .proyects-link{
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(255, 0, 0);
  background-color: transparent;
  outline: 2px solid rgb(255, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  transition: color 1s;

}
.proyects .containar-proyects .proyects-link:hover{
  color: #000000;
  z-index: 1;
}

.proyects .containar-proyects .proyects-link::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-color: rgba(255, 85, 85,0.5);
  border: none;
  outline: 2px solid rgb(0, 0, 0);
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -1;
  transition: transform 1s;
}

.proyects .containar-proyects .proyects-link:hover::before{
  transform: scaleX(1) skewX(35deg);
}
.proyects .containar-proyects .container-button{
  display: flex;
  flex-direction: column;
  margin: 60px;
 
}

.proyects .containar-proyects .container-button_slider .btn-slider {
  width: 40px;
  height: 40px;
  position: absolute;
  top:63%;
  transform: translateY(-50%);
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 85, 85,0.5);
  border-radius: 50%;
  padding: 0px 10px;

}

.btn-slider:hover {
  color: rgb(255, 80, 80);
}
.proyects .containar-proyects .slider_btn-right {
  
  right: 300px;
}
.proyects .containar-proyects .slider_btn-left {
  
  left: 300px;

}
/*--Reponsive proyectos--*/
@media screen and (min-width: 1109px) {
  
  .proyects .containar-proyects .slider_btn-right {
  
    right: 550px;
  }
  .proyects .containar-proyects .slider_btn-left {
    
    left: 550px;
  
  }
}
@media screen and (max-width: 850px){
  
  .proyects .containar-proyects{
    display: flex;
    flex-direction: column;
    justify-items:flex-end;
    padding-top: 40px;
  }
  .proyects .containar-proyects .proyects-title {
    margin: 30px 0px;
  }
  .slider_section{
    margin: 30px 0px;

  }
  .proyects .containar-proyects .slider_img {
    width: 350px;
   
  }
  .proyects .containar-proyects .container-button_slider .btn-slider{
    width: 40px;
    height: 40px;
    top:73%;
    background-color: rgba(255, 85, 85,0.5);
    border-radius: 50%;
    padding: 0px 10px;
  }
  .proyects .containar-proyects .slider_btn-right {
  
    right: 240px;
  }
  .proyects .containar-proyects .slider_btn-left {
    
    left: 240px;
  
  }
}
@media screen and (max-width:630px) {
  .slider-section{
    height: 600px;
    margin-top: 50px;
  }
  .proyects .containar-proyects .container-button_slider .btn-slider{
    width: 40px;
    height: 40px;
    top:64%;
    background-color: rgba(255, 85, 85,0.5);
    border-radius: 50%;
    padding: 0px 10px;
  }
  .proyects .containar-proyects .slider_btn-right {
  
    right: 170px;
  }
  .proyects .containar-proyects .slider_btn-left {
    
    left: 170px;
  
  }
  
}
@media screen and (max-width:460px) {
  .slider-section{
    width: 100%;
    margin: auto;
  }
  .proyects .containar-proyects .container-button_slider .btn-slider{
    top:67%;
  }
  .proyects .containar-proyects .slider_btn-right {
  
    right: 100px;
  }
  .proyects .containar-proyects .slider_btn-left {
    
    left: 100px;
  
  }
  .proyects .containar-proyects .slider_img {
    width: 275px;
  }
  
}
@media screen and (max-width:380px) {

  .proyects .containar-proyects .slider_img {
    width: 220px;
  }
  .proyects .containar-proyects .container-button{
    margin-top: 80px;
  }
}

/**----- Fin del Mis Proyectos -----**/

/** ---- Mis Servicios ----**/

.mis-servicios {
  width: 100%;
  padding: 25px;

}

.mis-servicios .servicios-title {
  width: 100%;
  margin: auto;
  text-align: center;
}

.mis-servicios .servicios-title h2 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #000;
  font-weight: normal;
  margin-bottom: 10px;
}
.mis-servicios .servicios-title hr {
  width: 60%;
  margin: auto;
  height: 2px;
  background: #000;
  border: none;
}

.mis-servicios .box-servicios {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 15px;
  
}


.mis-servicios .box-servicios .card-servicios {
  width: 100%;
  height: 100%;
  margin: 50px;
}

.mis-servicios .box-servicios .card-servicios .card-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mis-servicios .box-servicios .card-servicios .card-img i {
  font-size: 65px;
  border: 2px solid #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 40px;
}

.mis-servicios .box-servicios .card-servicios .servicios-text {
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 9px;
  margin-top: 20px;
  cursor: pointer;
}

.mis-servicios .box-servicios .card-servicios .servicios-text h4 {
  color: rgb(0, 0, 0);
  font-size: 27px;
  text-align: left;
  margin-bottom: 20px;
  text-align: center;
}
.mis-servicios .box-servicios .card-servicios .servicios-text p {
  font-size: 18px;
  color: #000;
  text-align: center;
  line-height: 20px;
}
.btn-cv{
  width: 100%;
  max-width: 200px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(255, 0, 0);
  background-color: transparent;
  outline: 2px solid rgb(255, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
}

.btn-cv:hover{
  color: #000000;
  z-index: 1;
}

.btn-cv::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-color: #ff0000;
  border: none;
  outline: 3px solid rgb(0, 0, 0);
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -1;
  transition: transform 1s;
}

.btn-cv:hover::before{
  
  transform: scaleX(1) skewX(35deg);
}


/**----- Fin de comentarios ----**/

.formulario-contacto {
  width: 100%;
  height: 100%;
  background: url("Img-proyectos/11.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.formulario-contacto .ejeZform {
  position: relative;
}

.formulario-contacto .form-content {
  width: 100%;
  padding-top: 100px;
  margin: auto;
  padding-bottom: 70px;
  background: rgba(0, 0, 0, 0.7);
}

.formulario-content {
  border-radius: 5px;
  margin: 10px;
}
.formulario-contacto .form-content .form-title {
  width: 90%;
  margin: auto;

  padding: 20px;
}
.formulario-contacto .form-content .form-title h2 {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.formulario-contacto .form-content .form-title hr {
  width: 60%;
  margin: auto;
  height: 2px;
  background: #fff;
  border: none;
}

.formulario-contacto .form-content .formulario-content #formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario-contacto .form-content .formulario-content #formulario label {
  color: #fff;
  font-size: 22px;
  margin-left: 120px;
  padding: 25px;
}
.formulario-contacto .form-content .formulario-content #formulario input {
  width: 70%;
  height: 40px;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(255, 80, 80);
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.formulario-contacto .form-content .formulario-content #formulario textarea {
  width: 70%;
  height: 200px;
  margin: 20px;
  padding: 25px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(255, 80, 80);
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
#enviar-mail {
  opacity: 0;
}

.btn-enviar{
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(255, 0, 0);
  background-color: transparent;
  outline: 2px solid rgb(255, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 20px 50px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
}

.btn-enviar:hover{
  color: #000000;
  z-index: 1;
}

.btn-enviar::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-color: #ff0000;
  border: none;
  outline: 3px solid rgb(0, 0, 0);
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -1;
  transition: transform 1s;
}

.btn-enviar:hover::before{
  
  transform: scaleX(1) skewX(35deg);
}
.formulario-contacto .formulario-content #formulario .mensaje-form {
  width: 100%;
  margin: auto;
  padding: 20px;
}
.formulario-contacto .formulario-content #formulario .mensaje-form p {
  font-size: 19px;
  color: #fff;
  line-height: 35px;
  text-align: center;
}

/*--- Fin del Formulario ---*/

/*--- Footer ---*/
.footer {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  
}
.contenedor-footer {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  margin: 20px 0;
  
}
.title-copy {
  align-items: center;
  font-size: 22px;
  margin: 15px;
  font-weight: 300;
}

.redes-sociales i {
  font-size: 26px;
  padding: 5px;
  color: #000;
}

/**----Fin del footer -----**/

/** Responsive **/

@media screen and (max-width: 850px) {
  /*--Responsive header--*/
  .menu-container { 
    padding: 10px;
  } 
  .tittle-web {
    font-size: 18px;
    margin: 0;
    padding: 10px;
  }
  #btn-menu > .fa-bars {
    display: inline-block;
    margin: 15px 0;
    padding: 0;
    font-size: 28px;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
  }
  .menu .list {
    margin: auto;
    flex-direction: column;
    border-top: 5px solid rgb(255, 1, 1);
  }

  .menu .list li {
    width: 100%;
    margin: 10px auto;
    border-bottom: 1px solid rgb(255, 1, 1);
  }
  .menu .list li a {
    background: none;
    color: rgb(255, 1, 1);
  }
  .menu .list li a.active {
    background: none;
    color: rgb(0, 0, 0);
  }
  .menu .list li a.active:hover {
    background: none;
    color: rgb(0, 0, 0);
  }

  .linea {
    text-align: center;
    font-size: 28px;
  }
  .header-img .welcome p{ 
    font-size: 32px;
  }
  .parrafo-welcome {
    font-size: 68px;
  }

  /*--Responsive Skills--*/
  .container-skills{
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  }
  .acerca-de .info-containar .info-estudios .tecnologias{
    width: 100%;
  }
  .acerca-de .info-containar .info-estudios .estudios{
    width: 100%;
  }

  /*-Responsive box-servicios*/
  .title-servicios {
    margin-top: 25px;
  }
  .box-servicios {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /*-Responsive formulario-*/
  .formulario-content {
    min-width: 320px;
    margin: auto;
  }
  .mensaje-form p {
    text-align: center;
  }
  /*-Responsive footer-*/

  .contenedor-footer {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;

  }

  .redes-sociales {
    text-align: center;
    font-size: 16px;
  }
  .telefono {
    text-align: center;
    font-size: 15px;
  }
 
  .title-copy {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: auto;
    width: 100%;
  }
  .skew-abajo {
    display: none;
  }
  .skew-arriba {
    display: none;
  }
}
