* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/** Go top **/
.go-top {
  position: fixed;
  bottom: 100px;
  right: -100%;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(255, 80, 80);
  border-radius: 15px;
  background: rgb(85, 85, 85, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
}
.go-top:hover {
  /*border: 2px solid #fff;*/
  border-radius: 15px;
  background: rgb(255, 80, 80, 0.5);
}
.go-top:hover span {
  color: rgb(0, 0, 0);
}
.go-top > span {
  font-size: 25px;
  color: rgb(255, 85, 85);
}
/** Skew abajo - corte de las secciones  **/
.skew-abajo {
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 10vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.skew-arriba {
  position: absolute;
  top: 0;
  right: 0;
  border-width: 10vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
}
/*--- Estilo animacion Scroll ---*/
.animacion {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarArriba {
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}

.animacionIzquierda {
  opacity: 0;
  transition: all 0.5s;
}
.mostrarIzquierda {
  animation: mostrarIzquierda 1s;
}
@keyframes mostrarIzquierda {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0);
  }
}
/*---- Menu de navegacion -----*/

/*Estilo del header*/
#header {
  position: relative;
}
/*estilo del menu*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(83, 83, 83, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.menu .logo-box {
  margin-left: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.menu .logo-box h1 a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 4px;
  color: rgb(255, 136, 136);
}

.menu .container {
  margin-right: 20px;
}

.menu .container .list {
  display: flex;
}
.menu .container .list li {
  list-style: none;
}
.menu .container .list li a {
  text-decoration: none;
  margin: 0 10px;
  padding: 8px;
  color: #000;
  border-radius: 24px;
  font-size: 16px;
  transition: 0.3s;
}

.menu .container .list li a.active {
  color: rgb(255, 136, 136);
}
.menu .container .list li a:hover {
  color: rgb(245, 136, 136);
}

#btn-menu > .fa-bars {
  display: none;
}

/*---- fin del menu de navegacion ----*/

/** IMG Header **/

.header-img {
  height: 100vh;
  width: 100%;
  background: url("Imagenes/banner-jpg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
}

.header-img .welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-img .welcome h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 2s forwards, move 1s 2s forwards;
  transform: translate(50%);
}

.header-img .welcome hr {
  width: 400px;
  height: 2px;
  background: #fff;
  border: none;
  margin-top: 5px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 2s forwards, move 1s 2s forwards;
  transform: translate(50%);
}
.header-img .welcome p {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 2s forwards, move 1s 2s forwards;
  transform: translate(50%);
}

@keyframes move {
  to {
    transform: translate(0);
  }
}
@keyframes show {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.header-img .welcome > button {
  position: relative;
  top: 150px;
  left: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 2s forwards, move 1s 2s forwards;
  transform: translate(50%);
}

button:hover {
  background: transparent;
}
.header-img .welcome > button i {
  font-size: 50px;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}
.header-img .welcome > button i:hover {
  font-size: 80px;
}

/*.header-img .welcome > button{
    position: relative;
    top: 170px;
    left: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 400ms;
    
}
button:hover{
   
    background: transparent;
}
.header-img .welcome > button i{
    font-size: 50px;
    color: rgb(0, 0, 0);
}

/** Fin del IMG Header **/

/*--- Acerca de nosotros---*/

.acerca-de {
  width: 100%;
  margin-top: 120px;
}

.acerca-de .info-containar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.acerca-de .info-containar h1 {
  font-size: 50px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.acerca-de .info-containar p {
  text-align: center;
  font-size: 25px;
  color: #000;
  line-height: 35px;
  margin: 10px 0;
}

.acerca-de .info-containar .info-estudios {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.acerca-de .info-containar .info-estudios hr {
  width: 80%;
  margin: 10px auto;
  height: 2px;
  color: rgba(88, 88, 88, 0.3);
}

.acerca-de .info-containar .info-estudios .tecnologias {
  width: 50%;
  height: 100%;
  margin: 10px 25px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
}
.acerca-de .info-containar .info-estudios .tecnologias .fa-code {
  font-size: 50px;
}
.acerca-de .info-containar .info-estudios .tecnologias p {
  font-size: 18px;
  font-weight: 300;
  transition: all 0.5s;
}
.acerca-de .info-containar .info-estudios .tecnologias p:hover {
  font-size: 24px;
  font-weight: 300;
}
.acerca-de .info-containar .info-estudios .tecnologias .title {
  font-size: 25px;
  margin: auto;
  text-align: center;
}
.acerca-de .info-containar .info-estudios .tecnologias-icon {
  font-size: 24px;
  padding: 5px;
}

.acerca-de .info-containar .info-estudios .estudios {
  width: 50%;
  height: 100%;
  margin: 10px 50px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
}
.acerca-de .info-containar .info-estudios .estudios .title {
  font-size: 25px;
  text-align: center;
}

.acerca-de .info-containar .info-estudios .estudios p {
  font-size: 18px;
}

.acerca-de .info-containar .info-estudios .estudios i {
  font-size: 50px;
}

.acerca-de .info-containar .leer-mas {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.acerca-de .info-containar .leer-mas button {
  width: 150px;
  height: 50px;
  background: rgb(255, 80, 80);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: 0.5s;
}

.acerca-de .info-containar .leer-mas button:hover {
  background: rgba(5, 5, 5, 0.8);
}

/*--- Fin del  Acerca de nosotros ----*/

/**----- Mis Proyectos -----**/
.proyects {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("Imagenes/alexandru-acea--WBYxmW4yuw-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}
.proyects .dreg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.proyects .ejezproyects {
  position: relative;
  width: 100%;
  height: 100%;
}

.proyects .containar-proyects {
  width: 90%;
  margin: auto;
  padding-top: 100px;
}
.proyects .containar-proyects .proyects-title {
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.proyects .containar-proyects .proyects-title h2 {
  font-size: 40px;
  font-weight: normal;
  color: #fff;
}

.proyects .containar-proyects .proyects-title hr {
  background: #fff;
  width: 50%;
  margin: 10px auto;
}

.proyects .containar-proyects .containar-slider {
  width: 90%;
  height: 100%;
  overflow: hidden;
  max-width: 900px;

  position: absolute;
  top: 100px;
}
.proyects .containar-proyects .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700%;
  height: 800px;
  margin-left: -100%;
}
/*
.slider{
    display: flex;
    width: 700%;
    height: 100%;
    margin-left: -100%;
}*/
.proyects .containar-proyects .slider_section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyects .containar-proyects .slider_img {
  display: flex;
  width: 700px;
  height: 500px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid rgb(255, 80, 80);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
}

.proyects .containar-proyects .btn-slider {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 60%;
  /*transform: translateY(-50%);*/
  font-size: 35px;
  font-weight: blod;
  text-align: center;
  cursor: pointer;
}

.btn-slider:hover {
  color: rgb(255, 80, 80);
}
.proyects .containar-proyects .slider_btn-right {
  right: 50px;
}
.proyects .containar-proyects .slider_btn-left {
  left: 50px;
}

/*.proyects .containar-proyects .slider img{
    /*width: calc(29% - 10px);
    margin: 5px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}*/

/**----- Fin del Mis Proyectos -----**/

/** ---- Mis Servicios ----**/

.mis-servicios {
  width: 100%;
}

.mis-servicios .servicios-title {
  width: 50%;
  margin: auto;
  text-align: center;
}

.mis-servicios .servicios-title h2 {
  font-size: 50px;
  color: #000;
  font-weight: normal;
  margin-bottom: 10px;
}
.mis-servicios .servicios-title hr {
  width: 60%;
  margin: auto;
  height: 2px;
  background: #000;
  border: none;
}

.mis-servicios .box-servicios {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 2s forwards, move 1s 2s forwards;
  transform: translate(50%);
}

.mis-servicios .box-servicios .card-servicios {
  width: 100%;
  height: 100%;
  margin: 50px;
}

.mis-servicios .box-servicios .card-servicios .card-img {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mis-servicios .box-servicios .card-servicios .card-img i {
  font-size: 65px;
  border: 2px solid #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  text-align: center;
  padding: 40px;
}

.mis-servicios .box-servicios .card-servicios .servicios-text {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 9px;
  margin-top: 20px;
  cursor: pointer;
  transition: 200ms;
}
.mis-servicios .box-servicios .card-servicios .servicios-text h4 {
  color: rgb(0, 0, 0);
  font-weight: gold;
  font-size: 27px;
  text-align: left;
  margin-bottom: 20px;
  transition: 200ms;
}
.mis-servicios .box-servicios .card-servicios .servicios-text p {
  font-size: 18px;
  color: #000;

  text-align: left;
  line-height: 20px;
  transition: 200ms;
}
.mis-servicios .box-servicios .card-servicios .servicios-text:hover {
  border: 2px solid rgb(255, 80, 80);
}
.mis-servicios .box-servicios .card-servicios .servicios-text:hover h4 {
  color: rgb(255, 80, 80);
}

/**----- Fin de comentarios ----**/

/**---- Footer ----**/

.formulario-contacto {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("Imagenes/11.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.formulario-contacto .ejeZform {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.formulario-contacto .form-content {
  width: 90%;
  padding-top: 100px;
  margin: auto;
  padding-bottom: 70px;
}

.formulario-content {
  border-radius: 5px;
  margin: 10px;
}
.formulario-contacto .form-content .form-title {
  width: 90%;
  margin: auto;

  padding: 20px;
}
.formulario-contacto .form-content .form-title h2 {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.formulario-contacto .form-content .form-title hr {
  width: 60%;
  margin: auto;
  height: 2px;
  background: #fff;
  border: none;
}

.formulario-contacto .form-content .formulario-content #formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario-contacto .form-content .formulario-content #formulario label {
  color: #fff;
  font-size: 22px;
  margin-left: 120px;
  padding: 25px;
}
.formulario-contacto .form-content .formulario-content #formulario input {
  width: 70%;
  height: 40px;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(255, 80, 80);
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.formulario-contacto .form-content .formulario-content #formulario textarea {
  width: 70%;
  height: 200px;
  margin: 20px;
  padding: 25px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(255, 80, 80);
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.formulario-contacto .formulario-content #formulario .btn-enviar {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.formulario-contacto .form-content .formulario-content #formulario .btn-enviar {
  width: 150px;
  height: 50px;

  background: rgb(255, 80, 80);
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;

  cursor: pointer;
  transition: 0.5s;
}

.formulario-contacto
  .form-content
  .formulario-content
  #formulario
  .btn-enviar:hover {
  background: rgba(82, 82, 82, 0.8);
  color: rgb(255, 80, 80);
}
.formulario-contacto .formulario-content #formulario .mensaje-form {
  width: 100%;
  margin: auto;
  padding: 20px;
}
.formulario-contacto .formulario-content #formulario .mensaje-form p {
  font-size: 19px;
  color: #fff;
  line-height: 35px;
  text-align: center;
}

/*--- Fin del Formulario ---*/

/*--- Footer ---*/
.footer {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}
.contenedor-informacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-copy {
  align-items: center;
  font-size: 17px;
  margin: 15px;
  font-weight: 300;
}

.redes-sociales i {
  font-size: 22px;
  padding: 5px;
  color: #000;
}

.contacto .correo-electronico {
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}
/**----Fin del footer -----**/

/** Responsive **/

@media screen and (max-width: 370px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(83, 83, 83, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    margin: auto;
  }
  .tittle-web {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 22px;
  }
  #btn-menu > .fa-bars {
    display: block;
    font-size: 28px;
    margin: auto 285px;
  }
  .menu .container {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
  }

  .menu .container .list {
    margin: auto;
    flex-direction: column;
    border-top: 5px solid rgb(255, 1, 1);
  }

  .menu .container .list li {
    width: 100%;
    margin: 10px auto;
    border-bottom: 1px solid rgb(255, 1, 1);
  }

  .menu .container .list li a.active {
    background: none;
    color: rgb(255, 1, 1);
  }
  .menu .container .list li a.active:hover {
    background: none;
    color: rgb(255, 1, 1);
  }
  .title-welcome {
    margin: 10px;
    text-align: center;
    font-size: 28px;
  }
  .linea {
    max-width: 200px;
    text-align: center;
    font-size: 28px;
    color: red;
  }

  .parrafo-welcome {
    font-size: 19px;
  }

  .info-estudios {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .tecnologias {
    min-width: 350px;
  }
  .estudios {
    min-width: 350px;
  }
  .slider_img {
    max-width: 280px;
    height: 250px;
  }
  .title-servicios {
    margin-top: 25px;
  }
  .box-servicios {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .formulario-content {
    min-width: 320px;
    margin: auto;
  }

  .mensaje-form p {
    text-align: center;
  }
  .contenedor-informacion {
    display: grid;
  }
  .contacto {
    margin: auto;
  }
  .redes-sociales {
    text-align: center;
    font-size: 16px;
  }
  .telefono {
    text-align: center;
    font-size: 15px;
  }
  .correo-electronico i {
    text-align: center;
    font-size: 18px;

    font-weight: 400;
  }

  .title-copy {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: auto;

    width: 100%;
  }
  .skew-abajo {
    display: none;
  }
  .skew-arriba {
    display: none;
  }
}
